/*====================== OVERALL STYLE ======================*/
:root {
  --theme-color: #002746;
  --secondary-color: #363636;
  --bol49: #fff2cc;
  --bol50: #8bbeb2;
  --bol51: #f09d51;
  --bol52: #c1cc99;
  --bol53: #2c8c99;
}

#bol49 {
  background: linear-gradient(var(--bol49), transparent 95%);
}

#bol50 {
  background: linear-gradient(var(--bol50), transparent 95%);
}

#bol51 {
  background: linear-gradient(var(--bol51), transparent 95%);
}

#bol52 {
  background: linear-gradient(var(--bol52), transparent 95%);
}

#bol53 {
  background: linear-gradient(var(--bol53), transparent 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Madurai", sans-serif;
  color: var(--secondary-font-color);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  margin-block: auto;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::selection {
  background: rgb(0, 123, 255, 0.3);
}

.content {
  max-width: 1250px;
  margin: auto;
  padding: 0 2rem;
}

.thin-font {
  font-weight: 200;
}

h2 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.3rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
}

html :is(button, a):hover {
  opacity: 0.75;
}

button {
  color: #fff;
  background-color: var(--theme-color);
  padding: 0.4rem;
  border-radius: 5px;
  cursor: pointer;
}

/*====================== NAV ======================*/
.navbar {
  position: fixed;
  width: 100%;
  height: 13vh;
  z-index: 2;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list li {
  text-align: center;
  margin-left: 25px;
}

.menu-list li a {
  color: var(--primary-font-color);
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-list li a:hover {
  opacity: 0.75;
}

.burger {
  color: var(--primary-font-color);
}

.btn-datos {
  color: #fff;
  margin-inline-end: 0.4rem;
}

.logo-tandil {
  width: 10rem;
  margin-block: 1rem;
  filter: invert(100%);
}

/*---------- NAV STICKY -----------*/
.navbar.sticky {
  background: var(--theme-color);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  height: 13vh;
}

.navbar.sticky :is(.logo-tandil, .btn-datos) {
  filter: none;
}

.navbar.sticky .btn-datos {
  background-color: #888;
  border: 1px solid #5d5d5d;
}

.navbar.sticky .btn-datos i {
  background-color: #888;
  border: none;
}

.navbar.sticky :is(.burger, a, i) {
  color: #fff;
}

.navbar .menu-list {
  display: flex;
  flex-direction: row;
  flex: 1 2 2rem;
}

.navbar.show a {
  color: #fff;
}

.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.cancel-btn i {
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
/*====================== BULLETIN ======================*/
h1 {
  color: #002746;
  padding-top: 16vh;
  margin-bottom: 1rem;
}

.content .cards-container {
  display: flex;
  flex-direction: column-reverse;
}

.bulletin-card {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin-block: 1rem;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #eee;
}

.bulletin-card-img {
  display: block;
  height: 145px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.bulletin-card-text hr {
  margin-block: 0.5rem;
  border: 2px solid var(--theme-color);
}

.bulletin-card-text {
  padding: 1rem;
}

.bulletin-card button {
  height: 2rem;
  align-self: self-end;
  margin: 1rem;
}

.bulletin-card .img-container {
  position: relative;
}

.mini-banner {
  position: absolute;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: ease 0.2s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bulletin-card:hover .mini-banner {
  height: 40%;
}

/*====================== FOOTER ======================*/
footer {
  background-color: #363636;
  padding-block: 1rem;
}

#logo-tandil-footer {
  width: 13rem;
}

.social-wrapper,
.social-links,
.logos,
.contact {
  margin: 1rem;
}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

/* --------- SOCIAL WRAPPER --------- */
.social-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .logo-tandil {
  filter: none;
}

.social {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10px;
  justify-content: center;
}

.social-icon {
  height: 30px;
  width: 30px;
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
}

.social i {
  color: #fff;
}

.social-links :is(h4, a) {
  color: #fff;
}
/* --------- SOCIAL LINKS --------- */
.social-links {
  display: flex;
  flex-direction: column;
}

.social-links a {
  margin-block: 0.2rem;
}
/* --------- LOGOS --------- */
.logos {
  display: flex;
  justify-content: space-around;
  margin-inline: auto;
}

.logos img {
  width: 6rem;
  margin: auto;
}
/* --------- CONTACT --------- */
.contact-wrapper {
  display: flex;
  line-height: 1rem;
}

.contact :is(h4, i, p, a) {
  color: #fff;
}

.contact-icons {
  margin-right: 0.5rem;
}

.contact-icons i,
.contact-text :is(p, a) {
  display: block;
  margin-block: 0.5rem;
}

/*====================== MEDIA QUERIES ======================*/
@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}

@media (min-width: 475px) {
  footer {
    background-color: #363636;
    flex-direction: column;
  }

  .logos {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  /*BULLETIN*/
  .bulletin-card:hover {
    background-color: #eee;
    border-radius: 5px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .bulletin-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify;
    margin-block: 1rem;
    border: none;
    border-radius: 0;
    background-color: transparent;

    padding: 1rem;
  }

  .bulletin-card-img {
    display: block;
    height: 150px;
    width: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;
    object-fit: fill;
  }

  .bulletin-card-text hr {
    margin-block: 0.5rem;
    border: 1px solid #b1b1b1;
  }

  .bulletin-card-text {
    padding: 0 1rem;
  }

  .bulletin-card-text h3 {
    line-height: 1rem;
    color: #002746;
  }

  .mini-banner {
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
  }
}

@media (min-width: 1024px) {
  .footer-section {
    margin-inline: auto;
    max-width: 1250px;
  }
}
