/*====================== OVERALL STYLE ======================*/
:root {
  --theme-color: #002746;
  --secondary-color: #363636;
  --primary-font-color: #002746;
  --secondary-font-color: #363636;
  --icon-main-color: #fe5f3f;
  --banner-bg: #1e505cb4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Madurai", sans-serif;
  color: var(--secondary-font-color);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  margin-block: auto;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::selection {
  background: rgb(0, 123, 255, 0.3);
}

.content {
  max-width: 1250px;
  margin: auto;
  padding: 0 2rem;
}

.thin-font {
  font-weight: 200;
}
section {
  height: 100vh;
}

h2 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.3rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
}

html :is(button, a):hover {
  opacity: 0.75;
}

button {
  color: #fff;
  background-color: var(--theme-color);
  padding: 0.4rem;
  border-radius: 5px;
  cursor: pointer;
}

/*====================== NAV ======================*/
.navbar {
  position: fixed;
  width: 100%;
  height: 13vh;
  z-index: 2;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list li {
  text-align: center;
  margin-left: 25px;
}

.menu-list li a {
  color: var(--primary-font-color);
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-list li a:hover {
  opacity: 0.75;
}

.burger {
  color: var(--primary-font-color);
}

.btn-datos {
  color: #fff;
  margin-inline-end: 0.4rem;
}

.logo-tandil {
  width: 10rem;
  margin-block: 1rem;
  filter: invert(100%);
}

/*---------- NAV STICKY -----------*/
.navbar.sticky {
  background: var(--theme-color);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  height: 13vh;
}

.navbar.sticky :is(.logo-tandil, .btn-datos) {
  filter: none;
}

.navbar.sticky .btn-datos {
  background-color: #888;
  border: 1px solid #5d5d5d;
}

.navbar.sticky .btn-datos i {
  background-color: #888;
  border: none;
}

.navbar.sticky :is(.burger, a, i) {
  color: #fff;
}

.navbar .menu-list {
  display: inline-flex;
}

.navbar.show a {
  color: #fff;
}

.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.cancel-btn i {
  color: #fff;
}

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
/*====================== BANNER ======================*/

.main-title {
  position: relative;
  top: 10rem;
  text-align: justify;
}

.main-title :is(h1, h2, p) {
  color: var(--primary-font-color);
}

.main-title :is(h1, h2) {
  font-size: 1.7rem;
}

.main-title p {
  font-size: 1.3rem;
}

hr {
  margin-block: 1rem;
}

.bg-img {
  z-index: -1;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.img-fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*====================== CONTENT STYLE ======================*/

main :is(#section1, #section2, #section3) {
  padding-top: 13vh;
}

/* --------SECTION 1-------- */

#section1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  align-items: center;
}

.sect1-card {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  /* padding: 0.5rem; */
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  text-align: left;
  background-color: #eee;
  position: relative;
}

.sect1-card i {
  padding: 1rem;
  font-size: 3.5rem;
  width: 30%;
  color: var(--icon-main-color);
  text-align: center;
}

.more {
  display: block;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  width: 5rem;
  margin-left: 1rem;
  padding: 0.2rem;
  /* background-color: var(--theme-color); */
  border-radius: 5px;
  color: #fff;
  align-self: flex-end;
}

/* --------SECTION 2-------- */
#section2 {
  background: var(--banner-bg) url(../img/banner2.jpg) no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  padding-top: 13vh;
}

.section-title {
  margin-top: 2rem;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 10rem;
  gap: 1rem;
  padding: 1rem;
  /* margin-top: 4rem; */
}

#section2 .reports-cards {
  border: 1px solid #eeeeee57;
  background-color: #ffffff1a;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section2 .reports-cards i {
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

.reports-cards span {
  font-size: 1rem;
  color: #fff;
}

.more-gray {
  display: block;
  background-color: #cdcdcd;
  border: 1px solid var(--secondary-color);
  color: var(--primary-font-color);
  margin-block: 1rem 0;
  padding-block: 0.2rem;
}

/* --------SECTION 3-------- */
#section3 {
  background: #ffffffa4 url(../img/banner3_mid.jpg) no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
}

#section3 .sec3-wrapper {
  display: flex;
  flex-direction: column;
  margin-block: auto;
}

#section3 .text-wrapper :is(h2, hr, p) {
  color: var(--secondarey-font-color);
}

#section3 hr {
  border: 1px solid var(--theme-color);
}

#section3 p {
  text-align: justify;
}

.sec3-wrapper .btn-tablero {
  width: clamp(8rem, 30%, 12rem);
  margin: 6rem auto;
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
}

#section3 .btn-tablero:hover {
  opacity: 0.75;
}

/*====================== FOOTER ======================*/
footer {
  background-color: #363636;
  padding-block: 1rem;
}

#logo-tandil-footer {
  width: 13rem;
}

.social-wrapper,
.social-links,
.logos,
.contact {
  margin: 1rem;
}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

/* --------- SOCIAL WRAPPER --------- */
.social-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .logo-tandil {
  filter: none;
}

.social {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10px;
  justify-content: center;
}

.social-icon {
  height: 30px;
  width: 30px;
  line-height: 31px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
}

.social i {
  color: #fff;
}

.social-links :is(h4, a) {
  color: #fff;
}
/* --------- SOCIAL LINKS --------- */
.social-links {
  display: flex;
  flex-direction: column;
}

.social-links a {
  margin-block: 0.2rem;
}
/* --------- LOGOS --------- */
.logos {
  display: flex;
  justify-content: space-around;
  margin-inline: auto;
}

.logos img {
  width: 6rem;
  margin: auto;
}
/* --------- CONTACT --------- */
.contact-wrapper {
  display: flex;
  line-height: 1rem;
}

.contact :is(h4, i, p, a) {
  color: #fff;
}

.contact-icons {
  margin-right: 0.5rem;
}

.contact-icons i,
.contact-text :is(p, a) {
  display: block;
  margin-block: 0.5rem;
}

/*====================== MEDIA QUERIES ======================*/

@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}

@media (min-width: 475px) {
  main :is(#section1, #section2, #section3) {
    padding-inline: 5rem;
  }

  #section1 {
    padding-inline: 6rem;
  }

  footer {
    background-color: #363636;
    flex-direction: column;
  }

  .btn-tablero {
    max-width: 15rem;
  }
}

@media (min-width: 768px) {
  .main-title {
    top: 9rem;
    max-width: 65%;
  }

  .main-title h1,
  .main-title h2 {
    font-size: 2.5rem;
  }

  #section1 :is(h4, p),
  #section3 p {
    font-size: 1.5rem;
  }

  .sect1-card {
    max-width: 60%;
  }

  .sect1-card i {
    margin-block: 2rem;
  }

  .card-description {
    margin-bottom: 1rem;
  }

  #section1 a,
  .grid-container a {
    cursor: auto;
  }

  .more {
    width: 6rem;
    /* margin-left: 1rem; */
    padding: 0.5rem;
  }

  .bg-img {
    width: 80%;
  }

  .section-title {
    display: block;
    color: #fff;
    font-weight: 400;
    margin-top: 3rem;
  }

  .logos {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .main-title {
    max-width: 70%;
  }

  .bg-img {
    z-index: -1;
    max-width: 60%;
  }
  #section1,
  .grid-container,
  .text-wrapper,
  .footer-section {
    margin-inline: auto;
    max-width: 1250px;
  }

  #section1 {
    flex-direction: row;
  }

  .sect1-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    margin: 1rem;
    height: 60%;
  }

  .more {
    margin: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .card-description {
    position: absolute;
    top: 35%;
    padding: 1rem;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    height: 80%;
    width: 50rem;
  }
  #section2 .reports-cards {
    padding: 2rem;
    justify-content: space-between;
  }

  .reports-cards span {
    font-size: 1.3rem;
  }

  .logos {
    display: flex;
    flex-direction: column;
  }

  .text-wrapper {
    margin-inline: auto;
    max-width: 1050px;
  }
}
